.textBoxErr {
    -fx-border-type: solid;
    -fx-border-color: #ff0000;
    -fx-border-radius: 3;
    -fx-border-width: 3;
}

.textBoxSaved{
    -fx-border-type: solid;
    -fx-border-color: #2fa600;
    -fx-border-radius: 3;
    -fx-border-width: 3;
}

.monthYearSlash{
    -fx-font-size: 58;
}