/*** Shopping item ***/
.anchor-container {
    -fx-border-radius: 12;
    -fx-start-margin: 10px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.container {
}

.image {

}