/*** Global Styles ***/
/*
primary (blue): #189ad3
lighter primary: #2ca1d3
anything that has active state: #49b1dd
secondary: #107dac
*/
.btn-hover {
    -fx-cursor: hand;
}

.active-state-background {
    -fx-background-color: #49b1dd;
}

.active-state-border {
     -fx-border-color: #49b1dd;
}

.bg-lightgrey {
    -fx-background-color: #EBEBEB;
}

.bg-grey {
    -fx-background-color: #A2A2A2;
}

.bg-primary  {
    -fx-background-color: #189ad3;
}

.bg-secondary {
    -fx-background-color: #107dac;
}

.bg-primary-alternative-2 {
    -fx-background-color: #3d8027;
}


.bold {
    -fx-font-weight: bold;
}

.semi-bold {
    -fx-font-weight: 600;
}

.text {
    -fx-font-family: Tahoma;
}

.text-xs {
    -fx-font-size: 14;
}

.text-sm {
    -fx-font-size: 16;
}

.text-md {
    -fx-font-size: 18;
}

.text-lg {
    -fx-font-size: 24;
}

.text-xl {
    -fx-font-size: 32;
}

.text-xxl {
    -fx-font-size: 52;
}

.text-link {
    -fx-text-fill: "#4285F4";
}

.text-link:hover {
    -fx-cursor: hand;
    -fx-text-fill: "#4f8ef2";
}

.btn-navbar {
    -fx-font-family: Tahoma;
}

.btn-navbar-active {
    -fx-text-fill: white;
}

.btn-primary{
    -fx-background-radius: 8;
    -fx-background-insets: -2;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-background-color: #189ad3;
}
.btn-checkout {
    -fx-background-radius: 8;
    -fx-background-insets: -2;
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-background-color: #189ad3;
}

.btn-checkout-secondary
{
    -fx-background-radius: 8;
    -fx-background-insets: -2;
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-background-color: #107dac;

}
.btn-checkout:hover {
    -fx-background-color: #2ca1d3;
    -fx-cursor: hand;

}

.btn-primary-alternative-2  {
    -fx-background-radius: 8;
    -fx-background-insets: -2;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-background-color: #5baa5f;
}


.btn-primary:hover {
    -fx-background-color: #2ca1d3;
    -fx-cursor: hand;
}

.btn-primary:disabled {
     -fx-background-color: #A2A2A2;
}

.btn-secondary {
    -fx-background-radius: 8;
    -fx-background-insets: -2;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-background-color: #107dac;
}

.btn-secondary:hover {
    -fx-background-color: #248bb7;
    -fx-cursor: hand;
}

.btn-lg {
     -fx-font-size: 26;
     -fx-background-insets: -10;
}

.btn-nostyle {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}