/*** Global Styles ***/
.bg-lightgrey {
    -fx-background-color: #EBEBEB;
}

.bg-grey {
    -fx-background-color: #A2A2A2;
}

.bg-primary  {
    -fx-background-color: #03A678;
}

.bg-secondary {
    -fx-background-color: #387368;
}

.bold {
    -fx-font-weight: bold;
}

.text {
    -fx-font-family: "Avenir Book";
}

.text-xs {
    -fx-font-size: 10;
}

.text-sm {
    -fx-font-size: 14;
}

.text-md {
    -fx-font-size: 18;
}

.text-lg {
    -fx-font-size: 24;
}

.text-xl {
    -fx-font-size: 32;
}

.btn-primary {
    -fx-background-radius: 8;
    -fx-background-insets: -2;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-background-color: #03A678;
}

.btn-nostyle {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}